body{
    font-family: helvetica;
    background-color: black;
  }

  #container{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
    /*height: 500px;*/
    /*border-style: dotted;*/
   ]
   
  }

  #video{
    order: 1;
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 100px;
  

  }
    
  #currTime{
   /* order: 2;
    display: block;
    margin-top: 20px;*/
    position: absolute;
    left: 300px;
    top: 300px;
    color: black;
    z-index: 9999;
  }

  video{
    /*border-style: solid;*/
  }